<h2>Записаться</h2>
<p>Здесь вы можете записаться к нам в BarberShop:</p>
<form action="/visit" method="POST" role="form">
  <div class="form-group">
    <label>Ваше имя:</label>
    <input name="username" type="text" class="form-control" placeholder="Введите ваше имя">
  </div>
  <div class="form-group">
    <label>Ваш телефон:</label>
    <input name="phone" type="text" class="form-control" placeholder="Введите ваш телефон:">
  </div>
  <div class="form-group">
    <label>Enter date and time:</label>
    <input name="date_time" type="text" class="form-control" placeholder="Enter date and time:">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>